body {
  background-color: #f0f2f5;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: 'black';
}

.auth-bg {
  background-image: url(https://source.unsplash.com/random);
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.sidebar-container {
  width: 280px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.sidebar {
  background: linear-gradient(#42424a, #191919);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tableContainer::-webkit-scrollbar {
  display: none;
}

td {
  word-wrap: normal;
  flex-wrap: wrap;
  margin-right: 10px;
}

.container {
  width: 100vw;
}
